/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:visited {
  color: #FF6080;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
  font-family: 'Major Mono Display', monospace;
  margin: 1rem 0 1rem 0;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  background: #f78ca0;  /* fallback for old browsers */
  background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}

.cover-container {
  max-width: 42em;
}

/*
 * Cover
 */
.cover {
  padding: 5rem 2rem 0;
}

.cover-heading {
  padding: 0 0 2rem 0;
  font-family: 'Major Mono Display', monospace;
  text-shadow: 0 .05rem .1rem #000;
}

/*
* Poem
*/

.poem-heading {
  font-size: 1.5rem;
}

.poem {
  font-size: 1rem;
  padding: 0 0 1rem 0;
}

/*
* Form
*/
.form-check-label {
  text-transform: uppercase;
  font-size: 110%;
}

.back-icon {
  font-size: 200%;
  padding: 1rem 0;
  display: block;
}

.error-messages {
  padding: 2em 0;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
  padding: 0 2rem;
}



